@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Oswald, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/*Drawing Tools Utilities */
@utility ellipse {
  @apply size-4 bg-blue-400 rounded-full;
}

@utility rect {
  @apply size-4 bg-red-400;
}

@utility tris {
  @apply size-4 bg-green-400;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

@utility tip {
  @apply size-4 bg-amber-400;
  border-radius: 50% 50% 0 0;
}

@utility seg {
  @apply size-4 bg-purple-400;
   clip-path: ellipse(50% 50% at 50% 100%);
}

@utility sect {
  @apply size-3.5 bg-cyan-400;
   clip-path: ellipse(100% 100% at 100% 100%);
}

@utility t {
  @apply size-4 bg-slate-200;
  clip-path: polygon(
    15% 0%,
    85% 0%,
    95% 20%,
    60% 20%,
    60% 100%,
    40% 100%,
    40% 20%,
    5% 20%
  );
}

/* Custom scrollbar for panels */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #1b1414ff;
}

::-webkit-scrollbar-thumb {
  background: #465146ff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #514c6fff;
}
